<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/main.css">
	<title>rss</title>
	<script src="./bower_components/angularjs/angular.js"></script>
	<script src="./bower_components/angular-animate/angular-animate.js"></script>
	<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css">

</head>
<body ng-controller="feedlist">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2>t-rss</h2>
			</div>
			<select name="authors" id="authors" ng-model="search.author" >
				<option value="">全部</option>
				<option ng-repeat="(author, value) in authorList" value="{{author}}">{{author}}</option>
			</select>
		</div>
		<div >
			<table class="table">
				<tr>
					<th><a href="">文章列表</a></th>
					<th><a href="">作者</a></th>
					<th><a href="" ng-click="predicate = 'date'; reverse = !reverse">时间</a></th>
				</tr>
				<tr ng-repeat= "article in articles | filter: search: strict |orderBy: predicate: reverse">
					<td><a ng-href={{article.link}}>{{article.title}}</a></td>
					<td>{{article.author}}</td>
					<td>{{article.date | date: 'yyyy-MM-dd'}}</td>
				</tr>
			</table>
		</div>
	</div>
	<script src="http://cdn.staticfile.org/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="./js/app.js"></script>

</body>
</html>
